<%= form_for @p  do |f|%>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>

    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_field :description %>

    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>

    </div>

    <div>
      <%= f.collection_select(:category_id,Category.all,:id,:name) %>

    </div>

    <div>
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name,{},{multiple:true,class:'chosen-select'}) %>


    </div>
    <%= f.submit %>



<% end %>


<script type="text/javascript" charset="utf-8">
  $('.chosen-select').chosen({width: '200px'});
</script>