<% @ps.each do |p| %>
    <div>
       <%= link_to p.title,product_path(p) %>
      <!--<%= p.title %>-->
      <%= p.description %>
      $<%= p.price.round(3) %>
      <%= p.category.name if p.category %>
    </div>


<% end %>