<br>
<%= @review.errors.full_messages.join(",") %>
<br>
<div>
  <h1><%= @p.title %></h1>
  <%= @p.description %>
  <%= @p.price %>
  <%= @p.category.name %>
  <%= link_to "Delete", product_path(@p), method: :delete %>
  <%= link_to "Edit", edit_product_path(@p) %>

  <br>
  <div id="favouritezzzzzz">
   <%= render 'favourites/favourite',product:@p %>

  </div>


  <br>

  <section class="tag-widge">
    <h1>Tagging</h1>
    <% tag_arr=@p.tags.map { |tag| tag.name } %>
    <%= tag_arr.join(" , ") %>
  </section>


</div>


<h2>Reviews</h2>


<div id="review-form">
  <%= render 'reviews/form' %>

</div>


<div id="reviews">
  <% @p.reviews.each do |review| %>

      <%= render 'reviews/review', review: review %>

  <% end %>


</div>


