<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if flash[:notice] %>
    <div>
      <%= flash[:notice] %>
    </div>
<% end %>
<% if flash[:alert] %>
    <div>
      <%= flash[:alert] %>
    </div>
<% end %>
<% if session[:user_id] %>
    <div>
      Hi,<%= User.find(session[:user_id]).first_name %>
    </div>
<% end %>


<%= link_to "home", home_path %>
<%= link_to "about", about_path %>
<%= link_to "contact", contact_path %>
<%= link_to "New Product", new_product_path %>
<%= link_to "Listing", products_path %>
<%= link_to "All tags",tags_path %>

<% if user_sign_in? %>
    <%= link_to "Log out", sessions_path, method: :delete %>
<% else %>
    <%= link_to "Log in", new_session_path %>
    <%= link_to "Sign up a new user", new_user_path %>



<% end %>



<%= yield %>
</body>
</html>
